.bodyPodcast{
    background-image: url("/images/podcastCover.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.imgpodcast{
    height: 50vw;
}
.podcast{
    font-family: var(--title-font-family);
    margin-bottom: 7vh;
    margin-top: 5%;
}
.podcast p{
    font-family: var(--main-font-family);
    padding-top: 20px;
}
.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.buttonWImage {
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 2%;
    margin-bottom: 3vh;
    width: 280px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    box-shadow: 7px 7px 15px rgba(220, 220, 220, 0.726);
}
.buttonWImage:hover {
    box-shadow: 7px 7px 15px rgba(250, 169, 219, 0.726);
}
.buttonWImage img {
    min-width: 30px;
    max-width: 120px;
}
.episodios{
    margin-top: 5vh;
    text-align: center;
}
.episode{
    width: 230px;
}
.episodeItem{
    margin: 0 20px 0 20px;
}
@media (max-width: 992px) {
    .imgpodcast{
        height: 48vw;
    }
    .podcast{
        margin-top: 20px;
    }
    .buttonsContainer {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .imgpodcast{
        height: 38vw;
    }
}
@media (max-width: 330px) {
    .episodeItem img{
        height: 60vw;
        width: auto;
    }
}