.main{
  padding-left: 13%;
  padding-right: 13%;
}
.blogSection {
  margin-top: 12vh;
  position:relative;
  margin-bottom: 4%;
}
.postsMargin {
  margin: 0 -0.8vh 0 -0.8vh;
}
/* .mdPost {
  min-height: 39em;
  height: auto;
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.mdPost img {
  height: 34em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}
.lgPost {
  min-height:39em;
  height: auto;
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.lgPost img {
  height: 34em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
} */
.smPost {
  min-height: 28vmin;
  height: auto;
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.smPost img {
  height: 44vmin;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}
.mainPictureCol span {
  position: relative;
  display: inline-block;
}
.mainPictureCol span::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 4vh;
  right: 0;
  bottom: 0;
  background: #DAB9F0;
  border-radius: 50%;
}
.mainPictureCol img {
  height: 90vh;
  margin: -14vh 0 0 0;
  position: relative;
}
.mainPostCol {
  padding-top: 6%;
  padding-right: 2%;
  height:100px;
}
.mainPostCol, .mainPictureCol{
  height: 69vh;
}
.mainPostCol h1 {
  font-size: 10vh;
  font-family: var(--title-font-family);
  padding-bottom: 10px;
}
.mainPostCol p {
  font-size: 2.5vh;
  font-family: var(--second-font-family);
}
/* Button 'Leer articulo' */
.mainPostCol a {
  text-decoration: none;
  font-size: 3vh;
  font-family: var(--main-font-family);
  font-weight: 700;
  color:white;
  background-color: var(--primary-color);
  padding: 2vh 5vh 2vh 5vh;
  border: none;
  border-radius: 40px;
  display: inline-block;
  margin-top: 6%;
}
.mainPostCol a:hover {
  background-color: var(--button-hover-color);
}
.blogSection h1 {
  font-family: var(--main-font-family);
  font-weight: 700;
}
.navP {
  padding: 0.5rem 1rem 0.5rem 0;
}
.navTopic {
  padding-top: 0.7em;
  font-family: var(--second-font-family);
}
.navTopic a {
  color: #000;
}
.navTopic a:focus, .navTopic a:active {
  border-bottom: 1px solid;
  color: #000;
}
.navTopic a:hover {
  border-bottom: 1px solid;
  color: var(--primary-color);
}
.post {
  text-decoration: none;
  color:black;
}
.post:hover {
  color: palevioletred;
}
.post h5 {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 1.3em;
}
.post p {
  font-family: var(--second-font-family);
  font-size: 0.9em;
}
.backQuotes {
  position: absolute;
  right:5vh;
  top: 4.8vh;
  z-index: -1;
  width: 13vh;
}

@media (max-width: 767px) {
  .mainPostCol{
    display: none;
  }
}

@media (max-width: 991px) {
  .main{
    padding-left: 5%;
    padding-right: 5%;
  }
  .blogSection{
    margin-top: 3vh;
  }
  .mainPostCol h1 {
    font-size: 2.5em;
  }
  .mainPostCol a {
    margin-top: 1em;
    font-size: 1.3em;
  }
  .blogSection h1 {
    position: absolute;
    top: 0;
    left: 5vmin;
  }
  .backQuotes {
    display: none;
  }
  .mainPictureCol {
    text-align: center;
  }
  .mainPictureCol img {
    height: 40vh;
    margin: auto;
    margin-top: -4vh;
  }
  .mainPictureCol span::before {
    top: 5vh;
  }
  /* .lgPost, .mdPost{
    min-height: 28em;
    height: auto;
  }
  .mdPost img, .lgPost img {
    height: 22em;
    width: 100%;
  } */
  .navTopic button {
    border: 0;
    margin-left: 85%;
  }
  .navTopic button:focus {
    box-shadow: none;
  }
  .navP {
    padding: 0.5rem 1rem 0.5rem 0;
    margin-bottom: 0;
  }
  .mainPost {
    padding-top: 2vh;
  }
  .mainPostCol, .mainPictureCol{
    height: 340px;
  }
}