.main{
  padding-left: 13%;
  padding-right: 13%;
}
.blogSection {
  margin-top: 1vw;
  position:relative;
  margin-bottom: 4%;
}
.postsMargin {
  margin: 15px -0.8vh 0 -0.8vh;
}
.smPost {
  min-height: 28vmin;
  height: auto;
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.smPost img {
  height: 23vw;
  width: 23vw;
  object-fit: cover;
  margin-bottom: 1em;
}
.mainPictureCol span {
  position: relative;
  display: inline-block;
}
.mainPictureCol span::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 4vh;
  right: 0;
  bottom: 0;
  background: #DAB9F0;
  border-radius: 50%;
}
.mainPictureCol img {
  width: 100%;
  height: 100%;
  margin: -7vw 0 0 0;
  position: relative;
}
.mainPostCol {
  padding-top: 6%;
  padding-right: 2%;
  height:100px;
}
.mainPostCol, .mainPictureCol{
  height: 40vw;
  margin-bottom: 10px;
}
.mainPostCol h1 {
  font-size: 5vw;
  font-family: var(--title-font-family);
  padding-bottom: 10px;
}
.mainPostCol p {
  font-size: 1.5vw;
  font-family: var(--second-font-family);
}
/* Button 'Leer articulo' */
.mainPostCol a {
  text-decoration: none;
  font-size: 1.7vw;
  font-family: var(--main-font-family);
  font-weight: 700;
  color:white;
  background-color: var(--primary-color);
  padding: 12px 30px 12px 30px;
  border: none;
  border-radius: 40px;
  display: inline-block;
  margin-top: 6%;
}
.mainPostCol a:hover {
  background-color: var(--button-hover-color);
}
.blogSection h1 {
  font-family: var(--main-font-family);
  font-weight: 700;
}
.navP {
  padding: 0.5rem 1rem 0.5rem 0;
}
.navTopic {
  padding-top: 0.7em;
  font-family: var(--second-font-family);
}
.navTopic a {
  color: #000;
}
.navTopic a:focus, .navTopic a:active {
  border-bottom: 1px solid;
  color: #000;
}
.navTopic a:hover {
  border-bottom: 1px solid;
  color: var(--primary-color);
}
.post {
  text-decoration: none;
  color:black;
}
.post:hover {
  color: palevioletred;
}
.post h5 {
  font-family: var(--main-font-family);
  font-weight: 700;
}
.post p {
  font-family: var(--second-font-family);
  font-size: 0.9em;
}
.backQuotes {
  position: absolute;
  right:5vh;
  top: 4.8vh;
  z-index: -1;
  width: 10vw;
}
/* Modal Newsletter */
.modal{
  background-color: #F0BBC7;
}
.modalContainter{
  display: flex;
  justify-content: space-evenly;
  font-family: var(--second-font-family);
  padding: 2% 0 3% 0;
}
.modalContainter img{
  height: 200px;
}
.modalContainter button{
  background-color: #C281ED;
  border-radius: 70px;
  width: 170px;
  border-color: var(--primary-color);
  margin-top: 20px;
}
.modalContainter button :hover{
  background-color: #eb2e4a;
}
.modalContainter h4{
  font-weight: 700;
}
.closeModal{
  text-align: right;
}

@media (max-width: 991px) {
  .main{
    padding-left: 5%;
    padding-right: 5%;
  }
  .mainPostCol h1 {
    font-size: 2.5em;
  }
  .mainPostCol a {
    margin-top: 1em;
    font-size: 1.3em;
  }
  .blogSection h1 {
    position: absolute;
    top: 0;
    left: 5%;
  }
  .backQuotes {
    display: none;
  }
  .mainPictureCol {
    text-align: center;
  }
  .mainPictureCol img {
    width: 30vw;
    height: auto;
    margin: auto;
    margin-top: -4vw;
  }
  .navTopic button {
    border: 0;
    margin-left: 85%;
  }
  .navTopic button:focus {
    box-shadow: none;
  }
  .navP {
    padding: 0.5rem 1rem 0.5rem 0;
    margin-bottom: 0;
  }
  .mainPost {
    padding-top: 2vh;
  }
  .mainPostCol, .mainPictureCol{
    height: 340px;
  }
  .navTopic{
    padding-top: 6px;
  }
  .navTopic button{
    padding: 0;
  }
}

@media (max-width: 886px) {
  .smPost img {
    height: 26vw;
    width: 26vw;
  }
  .navTopic button {
    margin-left: 90%;
  }
  .hide{
    display: none;
  } 
}

@media (max-width: 767px) {
  .mainPostCol{
    display: none;
  }
  .smPost img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 680px) {
  .mainPostCol{
    display: none;
  }
  .mainPictureCol{
    margin-top: 20px;
  }
  .mainPictureCol img {
    width: 270px;
    height: auto;
    margin: auto;
    margin-top: -50px;
  }
  .navTopic{
    margin-right:  0;
  }
}

@media (max-width: 400px) {
  .smPost img {
    height: 85vw;
    width: 85vw;
  }
  .mainPostCol, .mainPictureCol{
    height: 90vw;
  }
}
@media (max-width: 305px) {
  .smPost img {
    height: 70vw;
    width: 70vw;
  }
}

