.blogSection {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 4%;
  padding-top: 5%;
  position:relative;
}

.postsMargin{
  margin: 0 -0.8em 0 -0.8em;
}

.mdPost{
  height: 39em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  text-align: center;
}

.mdPost img{
  height: 82%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

.lgPost{
  height:39em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  text-align: center;
}

.lgPost img{
  height: 82%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

.smPost {
  height: 28em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  text-align: center;
}

.smPost img{
  height: 75%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

.mainPictureCol span {
  position: relative;
  display: inline-block;
}
.mainPictureCol span::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;
  background: #DAB9F0;
  border-radius: 50%;
}

.mainPictureCol img{
  height: 36em;
  margin: -2em 0 0 0;
  position: relative;
}

.mainPostCol{
  padding-top: 6%;
  padding-right: 2%;
}

.mainPostCol h1{
  font-size: 4.5em;
  font-family: var(--title-font-family);
  padding-bottom: 10px;
}

.mainPostCol p{
  font-size: 18px;
  font-family: var(--second-font-family);
}

.mainPostCol a{
  text-decoration: none;
  font-size: 24px;
  font-family: var(--main-font-family);
  font-weight: 700;
  color:white;
  background-color: #F096A3;
  padding: 16px 27px 16px 27px;
  border: none;
  border-radius: 40px;
  display: inline-block;
  margin-top: 50px;
}

.blogSection h1{
  font-family: var(--main-font-family);
  font-weight: 700;
}

.navP {
  padding: 0.5rem 1rem 0.5rem 0;
}

.navTopic{
  padding-top: 0.7em;
  font-family: var(--second-font-family);
}

.navTopic a{
  color: #000;
}
.navTopic a:focus, .navTopic a:active{
  border-bottom: 1px solid;
  color: #000;
}

.navTopic a:hover{
  border-bottom: 1px solid;
  color: #F096A3;
}

.post{
  text-decoration: none;
  color:black;
}

.post:hover {
  color: palevioletred;
}

.post h5{
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 1.3em;
}

.post p {
  font-family: var(--second-font-family);
  font-size: 0.9em;
}

.backQuotes{
  position: absolute;
  right:5em;
  top: 4.8em;
  z-index: -1;
  width: 13em;
}

@media (max-width: 680px) {
  .mainPostCol{
    display: none;
  }
}

@media (max-width: 780px) {
  .mainPostCol h1{
    font-size: 2.5em;
  }

  .mainPostCol a{
    margin-top: 1em;
    font-size: 1.3em;
  }

  .blogSection {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
  }

  .blogSection h1{
    position: absolute;
    top: 1em;
    left: 5%;
  }

  .backQuotes{
    display: none;
  }

  .mainPictureCol{
    text-align: center;
  }

  .mainPictureCol img{
    height: 22em;
    margin: auto;
  }

  .lgPost{
    height:28em;
  }

  .mdPost{
    height:28em;
  }

  .navTopic button{
    border: 0;
    margin-left: 85%;
  }
  .navTopic button:focus{
    box-shadow: none;
  }
  .navP {
    padding: 0.5rem 1rem 0.5rem 0;
    margin-bottom: 0;
  }
}
