.nav {
  padding-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}
/*
.navDiv {
  width: 100%;
  background-color: white;
  animation-duration: 0.5s;
  animation-name: slidein;
  
}*/
.navDiv {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav_link a{
  color: black !important;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 1em;
  margin: 0px 10px 0px 10px;
}
.nav_link a:hover{
  border-bottom: 1px solid;
  color: #000;
}
.brandName{
  padding-top: 1em;
  padding-bottom: 0;
}
.brandName img{
  height: 5em;
}
.brandName a{
  text-decoration: none;
  color: #FB5B72;
  text-transform: uppercase;
}
.brandName p{
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-size: 2.7em;
}
/*
@keyframes slidein {
  from {
    margin-top: -40px;
  }

  to {
    margin-top: 0px;
  }
}*/

@media (max-width: 991px) {
  .nav{
    padding-top: 1em;
    text-align: center;
    font-size: 1.3em;
  }
  .navDiv{
    position:sticky;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(36, 36, 36, 0.2);
    z-index: 2;
  }
  .nav button{
    margin-left: 90%;
    border: 0px;
  }
  .nav button:focus{
    box-shadow: none;
  }
  .brandName{
    padding-top: 1em;
    position:absolute;
    top:0;
    left:5%;
    z-index: 1;
  }
  .brandName img{
    height: 3.5em;
  }
  .brandName p{
    font-size: 1.5em;
  }
  .nav_link a{
    font-weight: 400;
  }
}