.coverArticle {
    height: 34em;
    color: #FFF;
    font-family: var(--second-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}
.centerDiv{
    padding: 0 20% 0 20%;
}
.coverArticle h1 {
    font-family: var(--main-font-family);
    font-weight: 700;
}
.coverArticle hr{
    width: 40%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3em;
    margin-bottom: 1.2em;
    opacity: 1;
    background: #FFF;
}
.articleContent{
    padding: 5% 20% 3% 20%;
    font-family: var(--second-font-family);
    font-size: 16.8px;
    line-height: 1.7;
}
.articleContent h1{
    font-size: 30px;
    font-weight: 700;
}
.articleContent h2{
    font-size: 24px;
    font-weight: 700;
}
/*.articleContent p:first-of-type::first-letter{
    font-size: 250%;
    font-weight: 700;
    margin-left: 3%;
}*/
.articleContent a{
    color:  var(--primary-color);
}
.articleContent img{
    height: 50vh;
    width: auto;
    margin: auto;
    display: block;
}
.articleContent blockquote{
    padding-left: 10vmin;
    padding-bottom: 16px;
    width: auto;
    margin: auto;
    display: block;
    text-align: end;
    font-style: italic;
}
.articleContent h1, .articleContent h2, .articleContent b{ 
    color:  #eb2e4a;
}
.articleAuthor{
    font-family: var(--main-font-family);
    margin: 0 12% 5% 12%; 
    text-align: right;
}
.articleAuthor hr{
    width: 80%;
    height: 2px;
    margin: auto;
    opacity: 0.8;
    margin-bottom: 6%;
}
.articleAuthorPhoto{
    width: 22vw;
}
.authorSocialMedia{
    text-decoration: none;
    color: inherit;
}
.authorSocialMedia img{
    height: 18px;
    width: auto;
    margin-right: 5px;
}
.iconWhite{
    filter: brightness(0) invert(1);
}
.authorDescrip{
    padding-right: 6%;
}
.authorData{
    display: flex;
    justify-content: center
}
.panel-heading {
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
.modalHeader {
    border-bottom: 0px;
}

@media (max-width: 768px) {
    .articleAuthorPhoto{
        width: 15em;
        padding-bottom: 1em;
    } 
    .articleAuthor{
        text-align: left;
        font-size: 0.9em;
    }
    .articleContent img{
        height: auto;
        width: 60vw;
    }
    .articleContent{
        padding: 5% 8% 3% 8%;
    }
}
@media (max-width: 524px) {
    .hide{
        display: none;
    }
    .authorData{
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    .articleAuthorPhoto{
        width: 50vw;
        padding-bottom: 1em;
    } 
    .articleContent img{
        height: auto;
        width: 80vw;
    }
    
}
