.content {
  padding: 0 12% 0 12%; 
}

.coverManifiesto p{
  font-family: var(--main-font-family);
  font-size: 3.5vh;
  padding: 2% 10% 0 10%;
}

.coverManifiesto img{
  height: 68vh;
  margin-top: -3em;
}
  
.manifiesto{
  margin: 6% 0 6% 0;
  padding: 0 12% 0 12%; 
  text-align: center;
}

.manifiesto h1{
  font-size: 4em;
  font-family: var(--title-font-family);
  margin-bottom: 0.5em;
}

.manifiesto p{
  font-family: var(--main-font-family);
  font-size: 1.3em;
}

.bienvenidaP{
  font-size: 2.2em !important;
}

.nosotras{
  margin: 5% 0 5% 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(218, 185, 240, 0.41) 52%, #ffffff 0%);
}

.nosotras h2{
  font-family: var(--title-font-family);
  font-size: 3.1em;
  padding: 3% 12% 2% 12%;
}

.nosotras h3{
  font-size: 1.1em;
  font-family: var(--second-font-family);
  font-weight: 700;
  margin: 1.2em 0 0.2em 0;
}

.nosotras p{
  font-size: 0.9em;
  font-family: var(--second-font-family);
}

.nosotras img{
  height: 14em;
}

.nosotras a{
  text-decoration: none;
  color:black;
}

.modalPad{
  padding: 0 3% 2.5% 3%;
}

.closeModal{
  text-align: right;
}

.leadInfoModal{
  padding-right: 4%;
}
.leadInfoModal h4{
  font-family: var(--second-font-family);
  font-weight: 700;
}

.leadInfoModal h6{
  font-family: var(--second-font-family);
  margin-bottom: 1.2em;
}

.leadInfoModal p{
  font-family: var(--main-font-family);
}

.leadfavInfoModal{
  font-family: var(--second-font-family);
  font-size: 0.9em;
}

.leadfavInfoModal img{
  margin-right: 0.5em;
}

.socialModal a {
  margin-right: 10px;
}

.leadfavQuote{
  font-family: var(--main-font-family);
  text-align: right;
}

.leadfavQuote p{
  margin-bottom: 0;
  margin-right: 1em;
}

.currentBook{
  margin-top: 1%;
  margin-bottom: 5%;
}

.currentBook img{
  margin-top: 4em;
  height: 15em;
  text-align:center;
  border-radius: 6%;
}

.backFloresCirculo{
  position: absolute;
  right:10em;
  top: 5em;
  z-index: -1;
  width: 11em;
}

.currentBook span {
  position: relative;
  display: inline-block;
  
}

.currentBook span::before {
  content: ' ';
  position: absolute;
  left: -3.8em;
  top: 1.5em;
  right: 0;
  bottom: 0;
  width: 18em;
  height: 18em;
  background: #DAB9F0;
  border-radius: 50%;
  z-index: -2;
}

.currentBook h4{
  font-family: var(--main-font-family);
  font-size: 2.2em;
  font-weight: 700;
  margin-top: 10px;
  color: #C281ED;
}

.currentBook h1{
  font-family: var(--title-font-family);
  font-size: 3.2em;
}

.currentBook h2{
  font-family: var(--main-font-family);
  font-size: 1.3em;
  font-weight: 700;
}

.currentBook p{
  font-family: var(--main-font-family);
  font-size: 1.1em;
  margin-top: 1.3em;
}

.currentBook a{
  text-decoration: none;
  font-size: 1.2em;
  font-family: var(--main-font-family);
  font-weight: 700;
  color:white;
  background-color: #F096A3;
  padding: 0.5em 2em 0.5em 2em;
  border: none;
  border-radius: 40px;
  display: inline-block;
  margin-top: 2%;
}

.manifestoLectoras{
  padding: 5% 10% 0 10%;
  height: 100%;
  background: linear-gradient(180deg, #F0E2F9 40%, #ffffff 0%);
}

.bigColLectoras img{
  height: 32em;
}

.bigColLectoras h2{
  font-family: var(--second-font-family);
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 1em;
}

.manifLectorasRow{
  font-family: var(--second-font-family);
  padding: 2em 2em 2em 0;
  margin-left: 2em;
  background: #F1E4FF;
}

.manifLectorasRow h5{
  font-weight: 700;
  font-size: 1.1em;
}

.manifLectorasRow p{
  font-size: 0.9em;
  margin-bottom: 0;
}

.manifLectorasRow img{
  height:6em;
}

.pinkRow{
  background: #F096A3;
  color: white;
}
.futureBooks{
  padding: 5% 10% 5% 10%;
  font-family: var(--main-font-family);
  font-weight: 700;
}

.futureBooks img{
  margin-top: 10%;
  width: 13em;
  box-shadow: 4px 4px 8px #ccc;
}

.headerDirectory{
  padding: 4% 0 4% 0;
  color: #ffffff;
  background: url(/images/portadaDirectorio.jpg);
}

.headerDirectory h1{
  font-family: var(--title-font-family);
  padding: 1% 10% 1% 10%;
}

.headerDirectory p{
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 1em;
  padding: 0 50% 0 10%;
}

.directory{
  padding: 1.5% 5% 5% 5%;
  font-family: var(--second-font-family);
}

.directory h5{
  font-size: 0.9em;
  text-align: left;
}

.directory p{
  font-size: 0.8em;
  text-align: left;
}

.directory img{
  height: 10.5em;
  margin-top: -2.5em;
  margin-bottom: 1em;
}

.socialCard{
  padding: 1em 0 0 0.5em;
  width: 3em;
}
.socialCard img{
  width: 1.4em;
  height: auto;
  margin: 0.8em 0.1em 0 0.1em;
}

.directory hr{
  height:2px;
  opacity: 0.7;
  width: 50%;
  margin: 0.3em 0 0.3em 0;
}

.directoryCard{
  margin: 4.5em 1em 1em 1em;
  box-shadow: 4px 4px 8px #ccc;
  width: 20em;
}

.contact{
  font-family: var(--second-font-family);
  margin: 1% 10% 5% 10%;
}

.contact h1{
  font-family: var(--title-font-family);
  margin-bottom: 0.5em;
}

.contact input{
  margin-bottom: 1em;
}

.contact button{
  font-family: var(--title-font-family);
  font-size: 1.4em;
  margin-top: 1.5em;
  color:white;
  background-color: #F096A3;
  padding: 0.5em 2.8em 0.5em 2.8em;
  border: none;
  border-radius: 2em;
  display: inline-block;
}

.contact button:hover{
  background-color: #eb2e4a;
}

.lecturaLinkCol{
  padding: 2em 3em 0 5em;   
}

.lecturaLinkCol a{
  text-decoration: none;
  color: black;
  
}

.lecturaLinkCol img{
  margin-top: 3em;
  height: 12em;
  text-align:center;
  border-radius: 6%;
}

.backFloresContacto{
  position: absolute;
  right:10.5em;
  top: 12.3em;
  z-index: -1;
  width: 7.5em;
}

.lecturaLinkCol span {
  position: relative;
  display: inline-block;
}

.lecturaLinkCol span::before {
  content: ' ';
  position: absolute;
  left: -3em;
  top: 1em;
  right: 0;
  bottom: 0;
  width: 14em;
  height: 14em;
  background: #DAB9F0;
  border-radius: 50%;
  z-index: -2;
}

@media (max-width: 991px) {
  .nosotras img{
    height: 10em;
  }

  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6em;
  }

  .coverManifiesto p{
    padding-left: 0;
    padding-right: 0;
  }

  .coverManifiesto img{
    height: 20em;
    margin-top: -1em;
  }

  .manifiesto h1{
    font-size: 3em;
  }

  .manifiesto p{
    font-size: 1.2em;
  }

  .nosotras h2{
    font-size: 2.6em;
  }

  .currentBook h1{
    font-size: 2.5em;
  }

  .bigColLectoras{
    text-align: center;
  }

  .bigColLectoras img{
    height: 23em;
    margin-bottom: 2em;
  }

  .manifestoLectoras{
    padding: 5% 0 0 0;
  }

  .manifLectorasRow{
    padding: 2em 2em 2em 2em;
    margin: 0;
  }

  .bigColLectoras h2{
    font-size: 1.8em;
  }

  .manifLectorasRow img{
    margin-bottom:1.5em;
  }

  .headerDirectory p{
    padding: 0 0 0 10%;
  }

  .directoryCard{
    margin-top: 4.5em 0em 0em 0em;
  }
  
  .contact{
    margin-top: 5%;
  }

  .contact button{
    font-size: 1.2em;
  }

  .lecturaLinkCol{
    padding: 2em 1.8em 2em 1.8em ;   
  }

  .currentBook img{
    margin: 5% 0 4% 0;
  }

  .futureBooks img{
    width: 8em;
  }

  .currentBook{
    margin-top: 0;
    padding-top: 6.5em;
  }

  .headerDirectory{
    padding-top: 6.5em;
  }
  .contact{
    margin-top: 0;
    padding-top: 6.5em;
  }
  .bienvenidaP{
    font-size: 1.7em !important;
  }
}

@media (max-width: 680px) {
  .smHide{
    display: none;
  }

  .nosotras h2{
    text-align: center;
  }

  .nosotras img{
    height: 14em;
  }

  .futureBooks img{
    width: 16em;
  }

  .directory{
    padding: 1.5% 0% 5% 0%;
  }

  .directoryCard{
    margin-left: auto;
    margin-right: auto;
  }

  .nosotras{
    background: linear-gradient(180deg, rgba(218, 185, 240, 0.41) 100%, #ffffff 0%);
  }
}